.input-box {
  display: flex;
  gap: 10px;
  background: var(--color-bg);
  padding: 10px;
  border-radius: 2ch;
  border-color: transparent;
  /* box-shadow: 0 1px 4px rgba(0,0,0, 0.3); */
  box-shadow: 0 1px 4px color-mix(in srgb, var(--color-secondary) 30%, transparent);
}

.input-box > .input-field {
  flex: 1;
  background: var(--color-bg);
  color: var(--color-text);
  padding: 10px;
  border-radius: 5px;
  /* min-height: 36px; */
   min-height: 24px;
  max-height: 140px;
  overflow: 'hidden';
  box-sizing: border-box;
}

.input-box button {
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  align-self: flex-end;
  width: 8ch;
  /* height: 56px; */
  height: 44px;
  border-radius: 2ch;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.input-box button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--color-primary);
}

.input-box button:hover {
  background: var(--color-primary-hover);
}

.input-box > textarea::-webkit-scrollbar {
  width: 8px;
}

.input-box > textarea::-webkit-scrollbar-track {
  background: transparent;
}

.input-box > textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.icon {
  width: 20px;
  height: 20px;
  background-color: var(--color-secondary);
  -webkit-mask: url('../../assets/Untitled.png') no-repeat center / contain;
  mask: url('../../assets/Untitled.png') no-repeat center / contain;
  display: inline-block;
}
