.input-box {
  display: flex;
  gap: 10px;
  background: var(--color-bg);
  padding: 10px;
  border-radius: 4ch;
  /* border-style: solid; */
  /* border-width: 1px; */
  border-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.input-box > .input-field {
  flex: 1;
  background: var(--color-bg);
  color: var(--color-text);
  padding: 10px;
  border-radius: 5px;
  max-height: 140px;
  resize: 'none';
  overflow: 'hidden';
}

.input-box button {
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  /* border-radius: 5px; */
  border-radius: 4ch;
  cursor: pointer;
}

.input-box button:hover {
  background: var(--color-primary-hover);
}

.input-box > textarea::-webkit-scrollbar {
  width: 8px;
}

.input-box > textarea::-webkit-scrollbar-track {
  background: transparent;
}

.input-box > textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}


.input-box button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--color-primary);
}
