.message {
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: var(--max-bubble-width);
  word-wrap: break-word;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}

.message.user {
  background: var(--color-primary);
  color: var(--color-text-alt);
  align-self: flex-end;
  margin-left: auto;
  border-radius: var(--bubble-radius) var(--bubble-radius) var(--bubble-radius-min) var(--bubble-radius);
}

.message.ai {
  background: var(--color-surface-alt);
  color: var(--color-text);
  align-self: flex-start;
  border-radius: var(--bubble-radius) var(--bubble-radius) var(--bubble-radius) var(--bubble-radius-min);
}

.loading-spinner {
  width: 6px;
  height: 6px;
  background: radial-gradient(circle at center, #FDE910 60%, #FFD700 100%);
  align-self: flex-start;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 17px 0px 17px 0px;
  animation: spin-sequence 3.2s cubic-bezier(.4,0,.2,1) infinite;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* .loading-spinner {
  width: 6px;
  height: 6px;
  border: 4px solid var(--color-surface-alt);
  border-top-color: var(--color-primary);
  border-radius: 50%;
  animation: spin-sequence 4.2s cubic-bezier(.4,0,.2,1) infinite;
  will-change: transform;
  margin: 10px;
} */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-sequence {
  0%   { transform: rotate(-70deg); }
  50%  { transform: rotate(420deg); }
  100% { transform: rotate(1370deg); }
}