.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 80%;
  word-wrap: break-word;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}

.message.user {
  background: #007bff;
  color: white;
  align-self: flex-end;
  margin-left: auto;
  border-radius: 12px 12px 2px 12px;
}

.message.ai {
  background: #333;
  color: white;
  align-self: flex-start;
  border-radius: 12px 12px 12px 2px;
}

.loading-spinner {
  width: 6px;
  height: 6px;
  background: radial-gradient(circle at center, #FDE910 60%, #FFD700 100%);
  align-self: flex-start;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 17px 0px 17px 0px;
  animation: spin 0.8s linear infinite;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}