.app {
  display: flex;
  height: 100dvh;
  font-family: 'Exo 2', sans-serif;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-header {
  text-align: center;
  margin-bottom: 0.8ch;
  /* border-bottom: 1px solid var(--color-primary); */
}

.app-header > h3 {
  margin-bottom: 0.6ch;
}
