@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100%;
  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-ui: 'Exo 2', Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;
  --font-header: 'Pixelify Sans', var(--font-ui), sans-serif;
  --fs-base: 16px;
  --lh-body: 1.6;
  --bubble-radius: 16px;
  --bubble-radius-min: 2px;
  --max-bubble-width: 68ch;
  --max-chatbody-width: 76ch;

  /* **Default** */
  /* Background layers */
  --color-bg: #242424;
  --color-surface: #1a1a1a;
  --color-surface-hover: #222;
  --color-surface-alt: #333;

  /* Text roles */
  --color-text: #ffffff;
  --color-text-alt: #1a1a1a;

  /* Action roles */
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;
  --color-accent: #ffd700;
  --color-danger: #ff4d4d;


  /* **Aperture** */
  /* Background layers */
  /* --color-bg: #270d06;
  --color-surface: #2d1200;
  --color-surface-hover: #3a1a0a;
  --color-surface-alt: #4d2615; */

  /* Text roles */
  /* --color-text: #ffcc66;
  --color-text-alt: #2d1200; */

  /* Action roles */
  /* --color-primary: #ffcc00;
  --color-primary-hover: #cc9900;
  --color-accent: #6666bb;
  --color-danger: #dd6600; */

}

::selection {
  background-color: var(--color-accent);
  color: var(--color-bg); /* or any contrasting text color */
}


body {
  min-height: 100%;
  margin: 0;
}


h1, h2, h3, button {
  font-family: var(--font-header);
}

textarea {
  resize: none;
  border: transparent;
  outline: var(--color-primary);
}

