@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

/* @import OriolaThemeProvider from "@oriola-origo/core/lib/Theme/OriolaThemeProvider";
@import Typography from "@oriola-origo/core/lib/Typography"; */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100%;
  color-scheme: light dark;
  color: var(--color-secondary-G);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-ui: 'Exo 2', Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;
  --font-header: 'Pixelify Sans', var(--font-ui), sans-serif;
  --fs-base: 16px;
  --lh-body: 1.6;
  --bubble-radius: 16px;
  --bubble-radius-min: 2px;
  --max-bubble-width: 68ch;
  --max-chatbody-width: 76ch;

  /* **Default** */
  /* Background layers */
  /* --color-bg: #242424;
  --color-surface: #1a1a1a;
  --color-surface-hover: #222;
  --color-surface-alt: #333; */

  /* Text roles */
  /* --color-text: #ffffff;
  --color-text-alt: #1a1a1a; */

  /* Action roles */
  /* --color-primary: #007bff;
  --color-primary-hover: #0056b3;
  --color-accent: #ffd700;
  --color-danger: #ff4d4d; */


    /* **Oriola** */
    
    /* Oriola official colors */
  --color-primary: #ffa000;
  --color-primary-tint-75: #FFBF55;
  --color-primary-tint-55: #FFD48D;
  --color-primary-tint-25: #FFE9C6;

  --color-primary-hover: #cc8400;
  
  --color-secondary: #2B3E5B;
  --color-secondary-tint-70: #5A687F;
  --color-secondary-tint-45: #A0A9B6;
  --color-secondary-tint-20: #E7E9EC;
  
  --color-secondary-DG: #757070;
  --color-secondary-DG-tint-60: #938F8F;
  --color-secondary-DG-tint-30: #C1BFBF;
  --color-secondary-DG-tint-15: #E0DFDF;
  --color-secondary-DG-text: #454242;

  --color-secondary-G: #A29791;
  --color-secondary-G-tint-55: #C1B9B5;
  --color-secondary-G-tint-30: #E0DCDA;
  --color-secondary-G-tint-10: #F4F3F2;
  
  
  /* Background layers */
  --color-bg: #ffffff;
  --color-surface: var(--color-secondary);
  --color-surface-hover: color-mix(in srgb, var(--color-primary), transparent 90%);
  --color-surface-alt: transparent;
  
  --color-accent: #007BFF;
  --color-danger: #ff4d4d;

  /* Text roles */
  --color-header-text: #ffa000;
  --color-text: var(--color-secondary-DG-text);
  --color-text-alt: #ffffff;
  
  /* **Aperture** */
  /* Background layers */
  /* --color-bg: #270d06;
  --color-surface: #2d1200;
  --color-surface-hover: #3a1a0a;
  --color-surface-alt: #4d2615; */

  /* Text roles */
  /* --color-text: #ffcc66;
  --color-text-alt: #2d1200; */

  /* Action roles */
  /* --color-primary: #ffcc00;
  --color-primary-hover: #cc9900;
  --color-accent: #6666bb;
  --color-danger: #dd6600; */

}

::selection {
  background-color: var(--color-accent);
  color: #ffffff;
  font-weight: bold;
}


body {
  min-height: 100%;
  margin: 0;
}


h1, h2, h3, button {
  font-family: var(--font-header);
}

textarea {
  resize: none;
  border: transparent;
  outline: none;
  font-family: var(--font-ui);
  font-size: 1rem;
  /* outline: var(--color-primary); */
}

