.app {
  display: flex;
  height: 100dvh;
  font-family: 'Exo 2', sans-serif;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-header {
  background-color: var(--color-bg);
  text-align: center;
  padding-bottom: 0.1ch;
  /* margin-bottom: 0.8ch; */
}

.app-header > h2 {
  color: var(--color-primary);
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}
